/* ============================================================ */
/* 1. Mockups                                                   */
/* ============================================================ */
.orderBadges {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.mainImg {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  max-height: 600px;
  object-fit: cover;
}

.color {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 1px solid rgb(138, 138, 138);
  background-color: white;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.color > div {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color:last-child {
  margin-right: 0rem;
}

.colorGrid {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.singleColorSwatch {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.dualColorSwatch {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

.dualColorHalf {
  height: 36px;
  width: 50%;
  border-radius: 0;
}

.dualColorHalf:first-child {
  height: 36px;
  width: 50%;
  border-radius: 0;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.dualColorHalf:last-child {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.designImg {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgb(197, 197, 197);
  padding: 10px;
}

.sizeWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sizeWrapper > div {
  width: 48%;
}

.txtField {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
}

.txtField > div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 5px;
}
.catalogCardWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.catalogCardWrapper img {
  background: rgb(237, 237, 237);
  filter: grayscale(0.1) blur(1px);
  margin-right: 1rem;
}

.cardContent {
  height: 100%;
  min-height: 200px;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.colorGridCatalog {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.colorCatalog {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 0.5px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleColorSwatchCatalog {
  height: 17px;
  width: 17px;
  border-radius: 8.5px;
}

.dualColorSwatchCatalog {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dualColorHalfCatalog {
  height: 17px;
  width: 48%;
}

.dualColorHalfCatalog:first-child {
  border-top-left-radius: 8.5px;
  border-bottom-left-radius: 8.5px;
}

.dualColorHalfCatalog:last-child {
  border-top-right-radius: 8.5px;
  border-bottom-right-radius: 8.5px;
}

.catalogInfo {
  padding: 1rem 0;
}
